# VS Code settings
.vscode/

# Build results
bin/
obj/

# NuGet Packages
*.nupkg
*.snupkg
*.nuget/

# Log files
*.log

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Excluir archivos de configuración específicos
*.code-workspace
*.suo
*.user
*.userosscache
*.suo

# Archivos con secretos - NO subir a GitHub
API/appsettings.Local.json
.env
